<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Hello, <%= @useremail %></h1>
<p>
  You have received new comment on post:<br/>
  <%= @url %>.
</p>

<p>Thanks</p>
</body>
</html>
